.title{
    font-weight:bold ;
    font-size: x-large;
    color: rgb(23, 66, 145);
    margin: 10px 10px;
}

.main{
    font-size: xx-large ;
    text-align: center;   
}

.form{
    text-align: center;
    display: block;
}

body{
    background-color: rgb(229, 229, 229);
    color:black;
    font-size: large;
}
.form-table{
    background-color: azure;
    padding: 10px;
    display: inline-block;
    text-align: left;
}

input{
    border: 1px solid green;
    background-color: lightcyan;
}

body.hide .registration-data{
 display: none;   
}
button.hover{
    background-color: azure;
    border: 2px solid green;
    transition: 0.3s;
    color: green;
    padding: 5px 10px;
}
.data-table tr, 
.data-table td,
.data-table{
    border: 1px solid green;
    border-collapse: collapse;
}
.data-table td{
    padding: 3px;
}